<ul>
  <!--
    ***************************************************************
            User Profile Settings: available to all users
    ***************************************************************
  -->
  <li class="current-user" routerLinkActive="active-parent">
    <a class="current-user-link" (click)="displayChildMenu('UserTab')">
      <i class="fas fa-user-circle"></i>
      <strong>Welcome {{generalService.activeUser.Username}}</strong>
      <span class="float-right"><i class="fas fa-caret-down"></i></span>
    </a>

    <ul [class.d-block]="generalService.parentMenu==='UserTab'" routerLinkActive="d-block" class="child-tab">
      <li>
        <a routerLink="user/edit-profile" routerLinkActive="active-parent">
          <i class="fas fa-user-plus"></i> Edit Profile
        </a>
      </li>
      <li>
        <a routerLink="user/change-password" routerLinkActive="active-parent">
          <i class="fas fa-exchange-alt"></i> Change Password
        </a>
      </li>
      <li>
        <a (click)="generalService.logout()">
          <i class="fas fa-sign-out-alt"></i> Sign Out
        </a>
      </li>
    </ul>
  </li>

  <!--
      ***************************************************************
                      Menu for first-time users only
      ***************************************************************
    -->
  <span *ngIf="generalService.activeUser.IsFirstTimeAccess">
    <li>
      <a routerLink="/home" routerLinkActive="active-parent">
        {{ 'Home' | uppercase }}
      </a>
    </li>
  </span>

  <!--
    ***************************************************************
          Role-based menus: available to returning users only
    ***************************************************************
  -->
  <span *ngIf="!generalService.activeUser.IsFirstTimeAccess">

    <li *ngFor="let tabs of allTabs" routerLinkActive="active-parent">
      <a *ngIf="tabs.ChildrenTabs.length === 0" (click)="displayChildMenu(tabs.Title)"
          routerLink="{{tabs.ContentUrl}}" routerLinkActive="active-parent">
        <strong>{{tabs.Title | uppercase}}</strong>
      </a>

      <a *ngIf="tabs.ChildrenTabs.length > 0" (click)="displayChildMenu(tabs.Title)">
        <strong>{{tabs.Title | uppercase}}</strong>
        <span class="float-right"><i class="fas fa-caret-down"></i></span>
      </a>

      <ul *ngIf="tabs.ChildrenTabs.length > 0" class="child-tab"
          [class.d-block]="generalService.parentMenu===tabs.Title" routerLinkActive="d-block">
        <li *ngFor="let childtab of tabs.ChildrenTabs">
          <a routerLink="{{childtab.ContentUrl}}" routerLinkActive="active-child">
            <i class="fas fa-angle-double-right"></i> {{childtab.Title}}
          </a>
        </li>
      </ul>

    </li>

  </span>

</ul>
