<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-success">
        <b>RESET PASSWORD</b>
      </h4>
      <hr>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <!-- response area -->
      <div *ngIf="responseAlert" class="alert" [class.alert-danger]="!requestPass" [class.alert-success]="requestPass" role="alert">
        <span [innerHTML]="responseMessage"></span>
      </div>
      <!-- user input area -->
      <form role="form" #PassReset="ngForm" (ngSubmit)="onSubmit(PassReset)">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                Username
              </div>
            </div>
            <input type="text" class="form-control" name="Username" placeholder="Username" [(ngModel)]="passreset.Username" #username="ngModel"
              [disabled]="working" required>
          </div>
          <div *ngIf="username?.errors && username?.touched">
            <div *ngIf="username.errors.required" class="text-danger">
              Please enter username
            </div>
          </div>
        </div>

        <button [@flipInOut]="stateA" type="submit" class="btn btn-dark float-right" [disabled]="PassReset.form.invalid">
          <i class="fas fa-save"></i> Submit
        </button>
        <button [@flipInOut]="stateB" type="button" class="btn btn-secondary float-right" disabled>
          <i class="fas fa-spinner fa-pulse"></i> Please wait
        </button>
        <br>
        <br>
      </form>
    </div>
  </div>
</div>
