<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-success">
        <b>CHANGE PASSWORD</b>
      </h4>
      <hr>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <!-- response area -->
      <div *ngIf="responseAlert" class="alert" [class.alert-danger]="!requestPass" [class.alert-success]="requestPass" role="alert">
        {{responseMessage}}
      </div>
      <!-- user input area -->
      <form role="form" #PassChange="ngForm" (ngSubmit)="onSubmit(PassChange)">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                Old Password &nbsp;
              </div>
            </div>
            <input type="{{inputTypeA}}" class="form-control" name="OldPassword" placeholder="*******" [(ngModel)]="passchange.OldPassword"
              #oldie="ngModel" [disabled]="working" required>
            <div class="input-group-append view-pass" (click)="viewPassword('old')">
              <div class="input-group-text">
                <span [class.d-none]="inputTypeA==='text'"><i class="fas fa-eye"></i></span>
                <span [class.d-none]="inputTypeA==='password'"><i class="fas fa-eye-slash"></i></span>
              </div>
            </div>
          </div>
          <div *ngIf="oldie?.errors && oldie?.touched">
            <div *ngIf="oldie.errors.required" class="text-danger">
              Please enter your old password
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                New Password
              </div>
            </div>
            <input type="{{inputTypeB}}" class="form-control" name="NewPassword" placeholder="*******" [(ngModel)]="passchange.NewPassword"
              #newie="ngModel" [disabled]="working" required>
            <div class="input-group-append view-pass" (click)="viewPassword('new')">
              <div class="input-group-text">
                <span [class.d-none]="inputTypeB==='text'"><i class="fas fa-eye"></i></span>
                <span [class.d-none]="inputTypeB==='password'"><i class="fas fa-eye-slash"></i></span>
              </div>
            </div>
          </div>
          <div *ngIf="newie?.errors && newie?.touched">
            <div *ngIf="newie.errors.required" class="text-danger">
              Please enter your new password
            </div>
          </div>
        </div>

        <button [@flipInOut]="stateA" type="submit" class="btn btn-dark float-right" [disabled]="PassChange.form.invalid">
          <i class="fas fa-save"></i> Update
        </button>
        <button [@flipInOut]="stateB" type="button" class="btn btn-secondary float-right" disabled>
          <i class="fas fa-spinner fa-pulse"></i> Please wait
        </button>
        <br>
        <br>
      </form>
    </div>
  </div>
</div>
